[submodule "GameEngine/vendor/spdlog"]
	path = GameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "GameEngine/vendor/glm"]
	path = GameEngine/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = https://github.com/NightAngel47/GLFW
	branch = master
[submodule "GameEngine/vendor/imgui"]
	path = GameEngine/vendor/imgui
	url = https://github.com/NightAngel47/imgui
	branch = docking
[submodule "GameEngine/vendor/yaml-cpp"]
	path = GameEngine/vendor/yaml-cpp
	url = https://github.com/NightAngel47/yaml-cpp
	branch = master
[submodule "GameEngine/vendor/ImGuizmo"]
	path = GameEngine/vendor/ImGuizmo
	url = https://github.com/NightAngel47/ImGuizmo
[submodule "GameEngine/vendor/box2d"]
	path = GameEngine/vendor/box2d
	url = https://github.com/NightAngel47/box2d
