# Binaries
**/bin/
!vendor/premake/bin/
**/bin-int/
Binaries/
Intermediates/

# Engine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.filters
**.csproj.user

*.tlog
*.lastbuildstate
*.idb

# Directories
GameEngine/vendor/VulkanSDK
Engine-Editor/assets/cache
scripts/__pycache__
